
h3{
    color: teal;
    height: 25px;
}
#search_input{
    width: 80%;
    margin-top: -100px;
    margin-left: 180px;
    height: 30px;
    border-radius: 10px;
}
#sidebar{
    display: grid;
    width: 10%;
    grid-gap: 10px;
    

    
}
#sidebar > button{
    background-color: teal;
    color: black;
    cursor: pointer;
}
#result{
    width: 100%;
    height: auto;
}
#india{
    width: 80%;
    height: 300px;
    border: 1px solid black;
}